<html>
    <head>
        <title>Successfully booked a health appointment</title>
    </head>
    <body>
        <div>
            <p>We have received a request from the {{fullName}} to booking an appointment. Please contact to the customer to confirm it via {{phoneNumber}} or their email {{userEmail}}.</p>
        </div>
    </body>
</html>