<html>
    <head>
        <title>Successfully booked a health appointment</title>
    </head>
    <body>
        <div>
            <p>We have received a request to booking an appointment. If it wasn't you just ignore this email.</p>
        </div>
    </body>
</html>